<!DOCTYPE html>
<html>
  <head>
    <title>TeacherClockIn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <%= link_to('Teacher Clock in', root_path, :class=> 'navbar-brand') %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <% if current_teacher %>
                  <%= link_to('Logout', destroy_teacher_session_path, method: :delete, :class=> 'nav-link') %>    
                  <% else %>
                  <%= link_to('Login', new_teacher_session_path, :class=> 'nav-link') %>    
                <% end %>
              </li>
            </ul>
          </div>
        </nav>
    <div class="container">
      <% if flash[:notice] %>
        <div class="notice alert alert-primary"><%= flash[:notice] %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
